<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<title>Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Assistant:400,600,700,800|Open+Sans:400,700&amp;subset=hebrew" rel="stylesheet">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/main.css">

</head>

<body>
<div class="overflow-content">
	@import "mobile-menu.html"
	<div class="transform-content">
		<div class="transform-content-overlay"></div>
		@import "header.html"
		<main class="blog">
			<section class="blog-section">
				<div class="container">
					<h1 class="blog-title">Blog – Classic Grid</h1>
					<div class="blog-content">
						<div class="blog-content-item">
							<h4 class="blog-content-title">This is a Sticky Post</h4>
							<img src="img/blog-img.jpg" alt="" class="blog-content-img">
							<p class="blog-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque enim error eveniet hic in inventore labore natus non placeat, quibusdam quisquam suscipit voluptates? Aliquid amet eius nisi possimus voluptatum?</p>
							<a href="" class="btn blog-content-btn">Read more</a>
						</div>
						<div class="blog-content-item">
							<h4 class="blog-content-title">This is a Sticky Post</h4>
							<img src="img/blog-img.jpg" alt="" class="blog-content-img">
							<p class="blog-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at atque commodi, cupiditate, dicta dolore doloremque est eveniet facere illo ipsam laudantium obcaecati praesentium quae quaerat saepe temporibus vero.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque enim error eveniet hic in inventore labore natus non placeat, quibusdam quisquam suscipit voluptates? Aliquid amet eius nisi possimus voluptatum?</p>
							<a href="" class="btn blog-content-btn">Read more</a>
						</div>
						<div class="blog-content-item">
							<h4 class="blog-content-title">This is a Sticky Post</h4>
							<img src="img/blog-img.jpg" alt="" class="blog-content-img">
							<p class="blog-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at atque commodi, cupiditate, dicta dolore doloremque est eveniet facere illo ipsam laudantium obcaecati praesentium quae quaerat saepe temporibus vero.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque enim error eveniet hic in inventore labore natus non placeat, quibusdam quisquam suscipit voluptates? Aliquid amet eius nisi possimus voluptatum?</p>
							<a href="" class="btn blog-content-btn">Read more</a>
						</div>
						<div class="blog-content-item">
							<h4 class="blog-content-title">This is a Sticky Post</h4>
							<img src="img/blog-img.jpg" alt="" class="blog-content-img">
							<p class="blog-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi at atque commodi, cupiditate, dicta dolore doloremque est eveniet facere illo ipsam laudantium obcaecati praesentium quae quaerat saepe temporibus vero.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cumque enim error eveniet hic in inventore labore natus non placeat, quibusdam quisquam suscipit voluptates? Aliquid amet eius nisi possimus voluptatum?</p>
							<a href="" class="btn blog-content-btn">Read more</a>
						</div>
					</div>
				</div>
			</section>
		</main>

		@import "footer.html"
	</div>
</div>




	<script src="js/jquery.min.js"></script>
	<script src="js/libs.min.js"></script>
    <script src="js/common.js"></script>
</body>
</html>
