<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top">
                <div class="footer-box">
                    <a href="" class="footer-box-link">
                        <img src="img/logo-white.png" alt="" class="footer-logo">
                    </a>
                    <div class="footer-social">
                        <a href="" class="footer-social-icon"><img src="img/g-logo.svg" alt="" class="footer-social-img"></a>
                        <a href="" class="footer-social-icon"><img src="img/tw-logo.svg" alt="" class="footer-social-img"></a>
                        <a href="" class="footer-social-icon"><img src="img/y-logo.svg" alt="" class="footer-social-img"></a>
                        <a href="" class="footer-social-icon"><img src="img/fb-logo.svg" alt="" class="footer-social-img"></a>
                    </div>
                </div>
                <div class="footer-right">
                    <ul class="footer-menu">
                        <li class="footer-menu-title">פינות זולה</li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פינת זולה גבוהה</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פינת זולה ענקית</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פינת זולה קלאסית</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">ספסל זולה</a></li>
                    </ul>
                    <ul class="footer-menu">
                        <li class="footer-menu-title">ריפוד לריהוט גן</li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כיסוי ריפוד לריהוט גן</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כריות לפינת זולה</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">ריפוד לנדנדה</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">מזרן פוטון</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">ריפוד לכסאות גן</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כריות לריהוט גן</a></li>
                    </ul>
                    <ul class="footer-menu">
                        <li class="footer-menu-title">פופים</li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כרית הנקה</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פוף ענק</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link"> פופים לבית</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פופים לגינה</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פוף לחדר</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">פוף קטן</a></li>
                    </ul>
                    <ul class="footer-menu">
                        <li class="footer-menu-title">כיסוי לריהוט גן</li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כיסוי לנדנדה</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כיסוי לאופניים</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כיסוי לכסאות</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כיסוי למנגל</a></li>
                        <li class="footer-menu-item"><a href="" class="footer-menu-link">כיסוי לשולחן גינה</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-center">
        <div class="container">
            <ul class="footer-center-menu">
                <li class="footer-center-item"><a href="" class="footer-center-link">home</a></li>
                <li class="footer-center-item"><a href="" class="footer-center-link">faqs</a></li>
                <li class="footer-center-item"><a href="" class="footer-center-link">the privacy policy</a></li>
                <li class="footer-center-item"><a href="" class="footer-center-link">my account</a></li>
                <li class="footer-center-item"><a href="" class="footer-center-link">contact us</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-flex">
                <div class="footer-bottom-left">
                    @2016 - Woodstock Woocommerce Theme. Created by <a href="" class="footer-bottom-link">ThemasDesign</a>
                </div>
                <div class="footer-bottom-right">
                    <p class="footer-bottom-right-text">קניה מאובטחת</p>
                    <img src="img/castle.png" alt="" class="footer-bottom-right-img">
                    <img src="img/payment_cards.png" alt="" class="footer-bottom-right-cards">
                </div>
            </div>
        </div>
    </div>
</footer>