<!-- header.html -->
<header class="header">
	<a href="" class="header-label">
		<img src="img/mail.png" alt="" class="header-label-img">
		<span class="header-label-text">צור קשר</span>
	</a>
	<div class="header-top">
		<div class="container">
			<div class="header-top-social">
				<a href="" class="header-top-icon-link"><img src="img/tw-logo.svg" alt="" class="header-top-icon-img"></a>
				<a href="" class="header-top-icon-link"><img src="img/fb-logo.svg" alt="" class="header-top-icon-img"></a>
				<a href="" class="header-top-icon-link"><img src="img/pr-logo.svg" alt="" class="header-top-icon-img"></a>
			</div>
			<div class="header-top-output">
				<a href="#" class="header-top-sing"> התחבר / הרשם<span class="header-top-back"><img src="img/login.svg" alt="" class="header-top-back-img"></span></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header-center">
			<a href="" class="header-link">
				<img src="img/logo-dark.png" alt="logo" class="header-center-logo">
			</a>
			<div class="header-center-setting">
				<div class="header-center-basket">
					<div class="header-center-box">
						<div class="header-center-item"> פריטים <span class="header-center-span">0</span></div>
						<div class="header-center-currency">₪ <span class="header-center-span">0.00</span></div>
					</div>
					<img src="img/basket.jpg" alt="basket">
				</div>
				<div class="header-center-phone">
					<a href="tel:039212883" class="header-center-phone-item">03-9212883 <img src="img/player.png" alt="" class="header-center-img"></a>
				</div>
				<div class="header-center-searche">
					<input type="search" class="header-center-input" placeholder="חיפוש">
				</div>
				<div class="header-center-searche_mobile"></div>
				<a href="" class="header-btn_mobile">Menu</a>
			</div>
		</div>
		<div class="header-bottom">
			<nav>
				<ul class="header-bottom-menu">
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link">  צור קשר</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link"> תקנון האתר</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link"> טיפים והמלצות</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link">קטלוג צבעים</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link">מבצעים</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link">עבודות מיוחדות</a>
					</li>
					<li class="header-bottom-item">
						<ul class="header-bottom-sublist">
							<li class="header-bottom-subitem">
								<a href="" class="header-bottom-sublink">1</a>
							</li>
							<li class="header-bottom-subitem">
								<a href="" class="header-bottom-sublink">2</a>
							</li>
							<li class="header-bottom-subitem">
								<a href="" class="header-bottom-sublink">3</a>
							</li>
						</ul>
						<a href="#" class="header-bottom-link"><img src="img/arrow.png" alt="arrow">חנות</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link"> אודות</a>
					</li>
					<li class="header-bottom-item">
						<a href="#" class="header-bottom-link">בית</a>
					</li>
				</ul>
			</nav>
		</div>

	</div>
</header>